---
layout: page
images:
  jumbotron: default.jpg
title: Default Title
---

<div class="row">
<div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
    <p class="lead">{{ lead }}</p>
    <p>For more information contact us at:</p>
    <p>
      <strong>If you are interested in attending a meeting:</strong><br>
      Please contact the <strong>Secretary</strong> of the meeting for details and information.
    </p>
    <p>
      <strong>If you are a member of an SA group and interested in serving :</strong><br>
      Please contact your group's <strong>GSR (Group Service Representative)</strong> for guidance on service opportunities, or reach out to SA Intergroup Utah for more information.
    </p>
    <p class="adr">
    <div class="org"><strong>{{ org.name }}</strong></div>
    <div class="email"><a href="mailto:{{ org.email }}">{{ org.email }}</a></div>
    <div class="phone"><a href="tel:{{ org.phone }}">{{ org.phone }}</a></div>
    <div class="street-address">{{ org.address }}</div>
    <div><span class="locality">{{ org.city }}</span>, <span class="region">{{ org.state }}</span> <span class="postal-code">{{ org.zip }}</span></div>
    </p>
    {{ content | safe }}
</div>
</div>