---
layout: base
---

<div class="hero jumbotron parallax text-white text-center">
  <div class="container d-flex h-100 flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase display-4 font-weight-bold">SA Utah</h1>
    <p class="h5 font-weight-bold">If you want the solution that we’ve found, we’d love to share it with you. Join us at a meeting near you.</p>
    <p class="my-3">
      <a href="{{ '/meetings' | url }}" class="btn btn-primary">Find a Meeting</a>
    </p>
  </div>
</div>
<div class="container bg-white shadow-sm p-4 p-sm-5">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="card mb-4 mb-sm-0">
        <img src="http://www.fillmurray.com/400/400" class="card-img-top">
        {# <img src="{{ '/assets/default.jpg' | url }}" class="card-img-top" alt="..."> #}
        <div class="card-body">
          <h5 class="card-title">2021 SA International Retreat</h5>
          <p class="card-text">Salt Lake City, Utah will host the 2021 International Retreat.</p>
          <a href="#" class="btn btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card mb-4 mb-sm-0">
        <img src="http://www.fillmurray.com/500/500" class="card-img-top">
        {# <img src="{{ '/assets/default.jpg' | url }}" class="card-img-top" alt="..."> #}
        <div class="card-body">
          <h5 class="card-title">2021 SA International Retreat</h5>
          <p class="card-text">Salt Lake City, Utah will host the 2021 International Retreat.</p>
          <a href="#" class="btn btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card mb-4 mb-sm-0">
        <img src="http://www.fillmurray.com/600/600" class="card-img-top">
        {# <img src="{{ '/assets/default.jpg' | url }}" class="card-img-top" alt="..."> #}
        <div class="card-body">
          <h5 class="card-title">2021 SA International Retreat</h5>
          <p class="card-text">Salt Lake City, Utah will host the 2021 International Retreat.</p>
          <a href="#" class="btn btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>