---
layout: page
metaTitle: Sexaholics Anonymous Meetings in Utah
title: Meetings & Groups
---

<div class="container-fluid">
  <div class="mb-5 text-center">
    <p class="mt-3 mb-4 mt-sm-0 alert alert-danger">Due to current circumstances, groups may not be meeting in person. Before attending, we
highly recommend contacting the person listed for that meeting.</p>
    <p class="alert alert-info">Please note: unless noted as open, all meetings are closed (meaning only those seeking their own sexual sobriety, please).</p>
    <h2 class="h4 mt-5 text-uppercase">Locations</h2>
    {%- for location in locations %}
      <a href="#{{ location.name | slug }}" class="btn btn-primary btn-sm d-inline-block mr-2 mb-2">
        {{ location.name }}
        <span class="badge badge-light">{{ location.meetings.length }}</span>
        <span class="sr-only">meetings</span>
      </a>
    {% endfor -%}
  </div>
  <div class="table-responsive">
    <table class="table meetings">
      {%- for location in locations %}
      <thead class="thead-dark">
        <tr>
          <th id="{{ location.name | slug }}" scope="col" colspan="4">{{ location.name }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for meeting in location.meetings %}
        <tr>
          <th class="meetings-time" scope="row">
            {{ meeting.day }}<br>
            <span class="font-weight-normal">{{ meeting.time.start }} – {{ meeting.time.end }}</span>
          </th>
          <td class="meetings-location">
            {{ meeting.address }}<br>
            <span class="font-weight-bold">{{ meeting.city }}</span>
          </td>
          <td class="meetings-contact">
            {{ meeting.contact.name }}<br>
            <a href="tel:{{ meeting.contact.phone }}" class="text-nowrap">{{ meeting.contact.phone }}</a><br>
            {% if meeting.contact.email %}<a href="mailto:{{ meeting.contact.email }}" class="text-nowrap">{{ meeting.contact.email }}</a>{% endif %}
            {% if meeting.contact.instructions %}<span class="font-weight-light">{{ meeting.contact.instructions }}</span>{% endif %}
          </td>
          <td class="meetings-notes">
            {% if meeting.name %}{{ meeting.name }}<br>{% endif %}
            {% if meeting.link %}<a href="{{ meeting.link.url }}">{{ meeting.link.text if meeting.link.text else meeting.link.url }}</a><br>{% endif %}
            <span class="font-weight-light">{{ meeting.notes }}</span>
          </td>
        </tr>
        {% endfor -%}
      </tbody>
      {% endfor -%}
    </table>
  </div>
</div>