---
layout: page
---
{% set meetingLocations = meetings | meetingLocations %}
{# <pre>{{ meetingLocations | dump(2) }}</pre> #}

<div class="container-fluid">
  <div class="mb-5 text-center">
    <p class="alert alert-info">Please note: unless noted as open, all meetings are closed (meaning only those seeking their own sexual sobriety, please).</p>
    <h2 class="h4 mt-5 text-uppercase">Locations</h2>
    {%- for location in meetingLocations %}
      <a href="#{{ location.name | slug }}" class="btn btn-primary btn-sm d-inline-block mr-2 mb-2">
        {{ location.name }}
        <span class="badge badge-light">{{ location.meetings.length }}</span>
        <span class="sr-only">meetings</span>
      </a>
    {% endfor -%}
  </div>
  <div class="table-responsive">
    <table class="table meetings">
      {%- for location in meetingLocations %}
      <thead class="thead-dark">
        <tr>
          <th id="{{ location.name | slug }}" scope="col" colspan="4">{{ location.name }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for meeting in location.meetings %}
        <tr>
          <th class="meetings-time" scope="row">
            {{ meeting.day }}<br>
            <span class="font-weight-normal">{{ meeting.time_start }} – {{ meeting.time_end }}</span>
          </th>
          <td class="meetings-location">
            {{ meeting.address }}<br>
            <span class="font-weight-bold">{{ meeting.city }}</span>
          </td>
          <td class="meetings-contact">
            {{ meeting.contact_name }}<br>
            <a href="tel:{{ meeting.contact_phone }}" class="text-nowrap">{{ meeting.contact_phone }}</a><br>
            {% if meeting.contact_email %}<a href="mailto:{{ meeting.contact_email }}" class="text-nowrap">{{ meeting.contact_email }}</a>{% endif %}
            {% if meeting.contact_instructions %}<span class="font-weight-light">{{ meeting.contact_instructions }}</span>{% endif %}
          </td>
          <td class="meetings-notes">
            {% if meeting.name %}{{ meeting.name }}<br>{% endif %}
            {% if meeting.link_url %}<a href="{{ meeting.link_url }}">{{ meeting.link_text if meeting.link_text else meeting.link_url }}</a><br>{% endif %}
            <span class="font-weight-light">{{ meeting.notes }}</span>
          </td>
        </tr>
        {% endfor -%}
      </tbody>
      {% endfor -%}
    </table>
  </div>
</div>