---
layout: base
images:
  jumbotron: default.jpg
title: Default Title
---

<div class="jumbotron parallax mb-0" style="background-image: url({{ '/assets/' | url }}{{ images.jumbotron }})">
  <div class="container">
    <h1 class="my-5 text-center text-white text-uppercase display-4 font-weight-bold">{{ title }}</h1>
  </div>
</div>
<div class="py-2 py-sm-5">
  <div class="container">
    {{ content | safe }}
  </div>
</div>