---
layout: page
metaTitle: About Sexaholics Anonymous in Utah
page_heading: About SA
---

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <nav>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#about">About SA</a></li>
          <li class="mb-3"><a href="#steps">The 12 Steps</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-md-9">
      <div id="about" class="mb-5">
        <h2>About Sexaholics Anonymous</h2>
        <h3 class="h6">The SA Purpose</h3>
        <p>Sexaholics Anonymous is a fellowship of men and women who share their experience, strength, and hope with each other that they may solve their common problem and help others to recover. The only requirement for membership is a desire to stop lusting and become sexually sober. There are no dues or fees for SA membership; we are self-supporting through our own contributions. SA is not allied with any sect, denomination, politics, organization, or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary purpose is to stay sexually sober and help others to achieve sexual sobriety.</p>
        <h3 class="h6">What is a sexaholic and what is sexual sobriety?</h3>
        <p>We can only speak for ourselves. The specialized nature of Sexaholics Anonymous can best be understood in terms of what we call the sexaholic. The sexaholic has taken himself or herself out of the whole context of what is right or wrong. He or she has lost control, no longer has the power of choice, and is not free to stop. Lust has become an addiction. Our situation is like that of the alcoholic who can no longer tolerate alcohol and must stop drinking altogether but is hooked and cannot stop. So it is with the sexaholic, or sex drunk, who can no longer tolerate lust but cannot stop.</p>
        <p>Thus, for the sexaholic, any form of sex with one’s self or with partners other than the spouse is progressively addictive and destructive. We also see that lust is the driving force behind our sexual acting out, and true sobriety includes progressive victory over lust. These conclusions were forced upon us in the crucible of our experiences and recovery; we have no other options. But we have found that acceptance of these facts is the key to a happy and joyous freedom we could otherwise never know.</p>
        <p>This will and should discourage many inquirers who admit to sexual obsession or compulsion but who simply want to control and enjoy it, much as the alcoholic would like to control and enjoy drinking. Until we had been driven to the point of despair, until we really wanted to stop but could not, we did not give ourselves to this program of recovery. Sexaholics Anonymous is for those who know they have no other option but to stop, and their own enlightened self-interest must tell them this.</>
        <p>
          <small class="text-muted">
            © 1989, 2001 SA Literature.<br>
            Reprinted with permission of SA Literature.
          </small>
        </p>
      </div>
      <div id="steps">
        <h2>The Twelve Steps</h2>
        <ol>
          <li class="mb-3">We admitted that we were powerless over lust — that our lives had become unmanageable.</li>
          <li class="mb-3">Came to believe that a Power greater than ourselves could restore us to sanity.</li>
          <li class="mb-3">Made a decision to turn our will and our lives over to the care of God as we understood Him.</li>
          <li class="mb-3">Made a searching and fearless moral inventory of ourselves.</li>
          <li class="mb-3">Admitted to God, to ourselves, and to another human being the exact nature of our wrongs.</li>
          <li class="mb-3">Were entirely ready to have God remove all these defects of character.</li>
          <li class="mb-3">Humbly asked Him to remove our shortcomings.</li>
          <li class="mb-3">Made a list of all persons we had harmed, and became willing to make amends to them all.</li>
          <li class="mb-3">Made direct amends to such people wherever possible, except when to do so would injure them or others.</li>
          <li class="mb-3">Continued to take personal inventory and when we were wrong, promptly admitted it.</li>
          <li class="mb-3">Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.</li>
          <li class="mb-3">Having had a spiritual awakening as the result of these Steps, we tried to carry this message to sexaholics, and to practice these principles in all our affairs.</li>
        </ol>
        <p>
          <small class="text-muted">
            The Twelve Steps and Traditions are adapted with permission of Alcoholics Anonymous World Services, Inc. (“AAWS”). Permission to adapt and reprint the Twelve Steps and Twelve Traditions does not mean that AAWS has approved the contents, of this publication, nor that AAWS agrees with the views expressed herein. AA is a program of recovery from alcoholism only. Use of the Twelve Steps and Twelve Traditions in connection with programs which are patterned after AA, but which address other problems, or in any other non-AA context, does not imply otherwise.
          </small>  
        </p>
        <p>
          <small class="text-muted">
            © 1989, 2001 SA Literature.<br>
            Reprinted with permission of SA Literature.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>