---
layout: page
metaTitle: Contact Sexaholics Anonymous Utah
title: Contact Us
---

<div class="container">
  <div class="row">
    <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
      <p class="lead">Anyone who turns to SA can be assured that his or her anonymity will be protected.</p>
      <p>For more information contact us at:</p>
      <p class="adr">
        <div class="org"><strong>Sexaholics Anonymous Intergroup Utah</strong></div>
        <div class="email"><a href="mailto:saintergrouputah@gmail.com">saintergrouputah@gmail.com</a></div>
        <div class="phone"><a href="tel:3857438872">(385) 743-8872</a></div>
        <div class="street-address">138 E 12300 S, Ste C-460</div>
        <div><span class="locality">Draper</span>, <span class="region">Utah</span> <span class="postal-code">84020-7976</span></div>
      </p>
      <p>For event listings or meeting list updates, contact <a href="mailto:saintergrouputah@gmail.com?subject=Meeting updates">SA Intergroup Utah</a>.</p>
      <p>For technical issues with this website, please contact the <a href="mailto:saintergrouputah@gmail.com?subject=Technical issue">Webmaster</a>.</p>


    </div>
  </div>
</div>
