---
layout: base
metaTitle: Sexaholics Anonymous in Utah
bodyClass: home
---
{% set home_news = collections.news | reverse %}
{% set news_feature_size = 3 %}

<div class="hero jumbotron parallax text-white text-center">
  <div class="container d-flex h-100 flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase display-4 font-weight-bold">SA Utah</h1>
    <p class="h5 font-weight-bold">If you want the solution that we’ve found, we’d love to share it with you. Join us at a meeting near you.</p>
    <p class="my-3">
      <a href="{{ '/meetings' | url }}" class="btn btn-primary">Find a Meeting</a>
    </p>
  </div>
</div>
<div class="container bg-white shadow-sm p-4 p-sm-5">
  <div class="row">
    {%- for post in home_news.slice(0, news_feature_size) -%}
    <div class="col-12 col-md-4">
      <div class="card mb-4 mb-sm-0">
        <img src="{{ '/assets/' + post.data.image | url }}" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title h5">{{ post.data.title }}</h2>
          <p class="card-text">{{ post.data.excerpt }}</p>
          <a href="{{ post.url | url }}" class="btn btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  <h2 class="text-center mt-5 mb-3">Other News</h2>
  <div class="row">
    {%- for post in home_news.slice(news_feature_size, home_news.length) -%}
    <div class="col col-sm-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title h5">{{ post.data.title }}</h3>
          <p class="card-text">{{ post.data.excerpt }}</p>
          <a href="{{ post.url | url }}" class="card-link">Read More</a>
        </div>
      </div>
    </div>
  {% if loop.index % 2 === 0 %}
  </div>
  <div class="row">
  {% endif %}
    {%- endfor -%}
  </div>
</div>