---
layout: page
metaTitle: Service Opportunities in Sexaholics Anonymous in Utah
title: Service in SAIUT
---

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <nav>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#bylaws">SAIUT Bylaws</a></li>
          <li class="mb-3"><a href="#correctional-facilities">Correctional Facilities</a></li>
          <li class="mb-3"><a href="#guidance-gsr">Guidance for Group Service Representatives (GSRs)</a></li>
          <li class="mb-3"><a href="#minutes">Intergroup Meeting Minutes</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-md-9">
      <div id="bylaws" class="mb-5">
        <h2>SAIUT Bylaws</h2>
        <a href="{{ '/assets/documents/SAIUT_ByLaws.pdf' | url }}" class="btn btn-primary btn-sm">SAIUT Bylaws Document</a>
      </div>
      <div id="correctional-facilities" class="mb-5">
        <h2>SA Utah Intergroup Correctional Initiative</h2>
        <p>The Utah State Prison has approved the beginning of SA meetings at the Draper prison.  This is marvelous opportunity for experienced SA members to perform valuable 12th Step service by volunteering to staff these meetings.  What we have to share is our experience, strength and hope.</p>
        <h3 class="h6">The following requirements apply:</h3>
        <ol>
          <li>A commitment to reliably attend one meeting per week at the prison.</li>
          <li>A minimum of 30 days of sobriety and have completed the 1st Step Inventory yourself.</li>
          <li>Willingness to undergo a background investigation and a two hour training session for prison volunteers.</li>
          <li>No felony convictions in the past 5 years and not more than 3 misdemeanors convictions.</li>
        </ol>
        <p><strong>Are you still interested?</strong></p>
        <p><a href="http://corrections.utah.gov/images/Brooke/friendsandfamilyFebruary2015a.pdf">Review the materials</a> that you will be reviewing during the volunteer training sessions that are held each month.</p>
        <p>We now have meetings on Friday 6-7pm and Saturday 10-11am. We would love to start meetings at other times during the week and weekends as soon as we have trained volunteers to staff them.</p>
        <p>Volunteer training sessions are held on the 2nd Saturday and following Wednesday of each month, excluding August and December. The Saturday trainings are from 9:00-11:00 AM and Wednesday sessions are from 2:00-4:00 PM. All training sessions are held at the Fred House Academy, 14727 Minuteman Drive, Draper, UT. This building is located on the east side of I-15 directly across from the prison site. Access via the frontage road. Background requirements are handled during the training, so bring your driver license and social security card.</>
        <p>As soon as you are trained and have received your identification card, contact <a href="mailto:sa.ig.utah@gmail.com">sa.ig.utah@gmail.com</a> to get onto the staffing list.</p>
        <h3 class="h6">Sponsors by mail</h3>
        <p>Many inmates have requested sponsors by mail and we have more requests from inmates than we have sponsors. If you are willing to sponsor an inmate, contact <a href="mailto:sa.ig.utah@gmail.com">sa.ig.utah@gmail.com</a>. Basic qualification for sponsorship applies: You have current sobriety as defined in the SA sobriety definition and have worked the steps at least to step 4 and are committed to stay ahead of your sponsees in the steps. Sponsors by mail will contact their inmate sponsees via the SA Intergroup PO Box and will never share personal address, phone, email, etc. This is an opportunity for 12th step service for those who are willing to be a recovery lifeline for an inmate but are unable to attend meetings at the prison for any reason.</p>
        <p>Please contact <a href="mailto:sa.ig.utah@gmail.com">sa.ig.utah@gmail.com</a> and provide your first name, first initial of last name, and phone number. Also indicate the days and times you are willing and able to assist with a prision meeting, or that you are willing to serve as a sponsor by mail.</p>
      </div>
      <div id="guidance-gsr" class="mb-5">
        <h2>Guidance for Group Service Representatives (GSRs)</h2>
        <p>Thank you for serving as a Group Service Representative (GSR) for your local SA meeting. Your willingness to serve is a blessing to the fellowship, and your participation helps strengthen the connection between individual meetings and the larger SA Intergroup Utah community. This page offers suggestions and guidance to help you in your service role. These are not requirements, but simply supportive practices that can help your group thrive and stay connected.</p>
        <h3>Monthly Intergroup Zoom Meeting</h3>
        <p>We warmly invite and encourage all GSRs to attend our monthly SA Intergroup Utah Zoom call.</p>
        <p>
          <a href="https://us02web.zoom.us/j/87288098212?pwd=UTE4bjV2K0xWcmNYL0V1d2lyQTU5Zz09">Join Zoom Meeting</a><br>
          Meeting ID: 87288098212<br>
          Password: 535316<br>
          One tap mobile: +16699006833,,87288098212#<br>
          (save as a contact in phone) (712) 770-4146,,,535316#
        </p>
        <p>This meeting is a time for connection, updates, shared experience, and spiritual support. It’s where we discuss upcoming events, address questions, and hear what’s going on in our meetings across the region.</p>
        <h3>Monthly Group Check-In</h3>
        <p>To keep communication flowing and better serve your group, we kindly ask GSRs to send in a brief monthly check-in that includes:</p>
        <ul>
          <li><strong>Group Size</strong> – Approximately how many members are attending regularly?</li>
          <li><strong>What’s Working</strong> – Share any positive developments, practices, or formats that are helping your group.</li>
          <li><strong>Leadership Changes</strong> – Let us know if there are any changes in trusted servants or facilitators.</li>
          <li><strong>How Can We Serve You?</strong> – What would be helpful from SA Intergroup Utah right now?</li>
        </ul>
        <p>These check-ins can be submitted by email (<a href="mailto:saintergrouputah@gmail.com">saintergrouputah@gmail.com</a>), text to 385-743-8872, or by calling the Web Chair at 801-448-3009 (text is preferred at first). These updates help us understand your group’s needs and celebrate your progress.</p>
        <h3>Updating Meeting Information</h3>
        <p>As a GSR, you are in a great position to help ensure that the meeting information listed on the SA Intergroup Utah website is accurate and current. Please check your group’s listing from time to time and let us know if any changes are needed.</p>
        <h3>Acting as a Liaison</h3>
        <p>You serve as a vital link between your local meeting and the SA Intergroup Utah. This means you can help get the word out about upcoming retreats, workshops, and service opportunities, helping members stay informed and involved.</p>
        <h3>Contributing Group Funds</h3>
        <p>If your group chooses to contribute financially to SA Intergroup Utah (after taking care of local expenses), here are a few simple ways to send those funds:</p>
        <ul>
          <li><strong>PayPal:</strong> <a href"https://www.sautah.org/contribute/paypal/">SA UTAH INTERGROUP</a> </li>
          <li><strong>Zelle:</strong> <a href="https://www.sautah.org/contribute/zelle/">https://www.sautah.org/contribute/zelle/</a> (Preferred since there is no fee)</li>
          <li><strong>Mail a check:</strong> SA Intergroup Utah, 138 E. 12300 S. Ste C-460, Draper, UT, 84020-7976</li>
          <li><strong>Give in person:</strong> At a retreat or in coordination with a trusted Intergroup servant</li>
        </ul>
        <p>These contributions help us organize events, maintain the website, and support groups across the region.</p>
      </div>
      <div id="minutes" class="mb-5">
        <h2>Intergroup Meeting Minutes</h2>
        <p><a href="https://drive.google.com/drive/folders/1UEX6M8JL03YeO_T3gxLdwrYAtU2EognQ?usp=sharing">Minutes Drive</a></p>
      </div>
    </div>
  </div>
</div>
