---
layout: page
pageHeading: Service in SAIUT
---

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <nav>
        <ul class="list-unstyled">
          <li><a href="#bylaws">SAIUT Bylaws</a></li>
          <li><a href="#correction-facilities">Correction Facilities</a></li>
          <li><a href="#minutes">Intergroup Meeting Minutes</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-md-9">
      <div id="bylaws" class="mb-5">
        <h2>SAIUT Bylaws</h2>
        <a href="{{ '/assets/documents/SAIUT_ByLaws.pdf' | url }}" class="btn btn-primary btn-sm">SAIUT Bylaws Document</a>
      </div>
      <div id="correction-facilities" class="mb-5">
        <h2>SA Utah Intergroup Corrections Initiative</h2>
        <p>The Utah State Prison has approved the beginning of SA meetings at the Draper prison.  This is marvelous opportunity for experienced SA members to perform valuable 12th Step service by volunteering to staff these meetings.  What we have to share is our experience, strength and hope.</p>
        <h3 class="h6">The following requirements apply:</h3>
        <ol>
          <li>A commitment to reliably attend one meeting per week at the prison.</li>
          <li>A minimum of 30 days of sobriety and have completed the 1st Step Inventory yourself.</li>
          <li>Willingness to undergo a background investigation and a two hour training session for prison volunteers.</li>
          <li>No felony convictions in the past 5 years and not more than 3 misdemeanors convictions.</li>
        </ol>
        <p><strong>Are you still interested?</strong></p>
        <p><a href="http://corrections.utah.gov/images/Brooke/friendsandfamilyFebruary2015a.pdf">Review the materials</a> that you will be reviewing during the volunteer training sessions that are held each month.</p>
        <p>We now have meetings on Friday 6-7pm and Saturday 10-11am. We would love to start meetings at other times during the week and weekends as soon as we have trained volunteers to staff them.</p>
        <p>Volunteer training sessions are held on the 2nd Saturday and following Wednesday of each month, excluding August and December. The Saturday trainings are from 9:00-11:00 AM and Wednesday sessions are from 2:00-4:00 PM. All training sessions are held at the Fred House Academy, 14727 Minuteman Drive, Draper, UT. This building is located on the east side of I-15 directly across from the prison site. Access via the frontage road. Background requirements are handled during the training, so bring your driver license and social security card.</>
        <p>As soon as you are trained and have received your identification card, contact <a href="mailto:sa.ig.utah@gmail.com">sa.ig.utah@gmail.com</a> to get onto the staffing list.</p>
        <h3 class="h6">Sponsors by mail</h3>
        <p>Many inmates have requested sponsors by mail and we have more requests from inmates than we have sponsors. If you are willing to sponsor an inmate, contact <a href="mailto:sa.ig.utah@gmail.com">sa.ig.utah@gmail.com</a>. Basic qualification for sponsorship applies: You have current white-book sobriety and have worked the steps at least to step 4 and are committed to stay ahead of your sponsees in the steps. Sponsors by mail will contact their inmate sponsees via the SA Intergroup PO Box and will never share personal address, phone, email, etc. This is an opportunity for 12th step service for those who are willing to be a recovery lifeline for an inmate but are unable to attend meetings at the prison for any reason.</p>
        <p>Please contact <a href="mailto:sa.ig.utah@gmail.com">sa.ig.utah@gmail.com</a> and provide your First Name Last Initial and phone number with the days and times you are willing and able to assist:-)  Please state you are looking to assist with the prison initiative. Thanks for your your help!</p>
      </div>
      <div id="minutes" class="mb-5">
        <h2>Intergroup Meeting Minutes (Propose keeping in Google Drive)</h2>
      </div>
    </div>
  </div>
</div>